body{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    padding-left: 15px;
}
.new-font{
    font-family: 'Lobster', cursive;
}
.beige-color{
    color: #C4AE78;
}
.flexible{
    display: flex;
    margin-bottom: 40px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    padding: 20px;
}
.half-width img{
    width: 70%;

}
#vertical-line{
    border-left: 4px solid brown;
    
}
.for-link{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #BD8E83;
    border-radius: 10px;
    color: white;
    font-weight: 600;

}
h2{
    font-size: 30px;
}
.mission{
    text-align: center;
}
#mission1{
    background-color: rgb(200, 228, 238);
    border-radius: 10px;
    margin-left: 5%;
}
#vision{
    background-color: rgb(243, 204, 243);
    border-radius: 10px;
}
#goal{
    background-color: rgb(238, 215, 219);
    border-radius: 10px;
    margin-right: 5%;
}
#sec-three{
    margin-top: 20px;
    margin-right: 5%;
    background-image: url(images/shapes/shape-5\ \(1\).png);
    background-repeat: no-repeat;
    background-position: left;
}
#another-color{
    color: #6F5B3E;
}
footer{
    text-align: center;
    background-color: #bbb0a3;
    padding-top: 10px;
    padding-bottom: 20px;
}
#big-size{
    font-size: 25px;
}
#question{
    border-radius: 15px;
}
.extra-sec{
    background-image: url(images/person/shape-4.png);
    background-repeat: no-repeat;
    background-position: left;
}